
.button:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


button {
    padding: 15px;
    border: none;
    border-radius: 20px;
    min-width: 300px;
    color: white;
    box-shadow: 0 0 20px #eee;
}
