.logo {
    box-shadow: 1px 1px 4px 3px #ccc;
    background-color: white;
    border-radius: 56px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plain {
    width: 15px;
    height: 15px;
}