/*
Reset Common css
*/
input {
 padding: 0;
 border: none;
}

input:focus {
 outline: none;
}

input[type=checkbox] {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 1111;
}

h2, h3 {
  margin: 0;
}