.dialogWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px;
    

    .overlay {
        opacity: 0.3;
        background-color: gray;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .dialog {
        position: relative;
        width: 80vw;
        height: 80vh;
        max-width: 550px;
        max-height: 550px;
        flex-direction: column;
        display: flex;
        background-color: white;

        nav {
            display: flex;
            background-color: #eee;
            padding: 5px 10px;
            justify-content: space-between;


            .closeBtn, .backBtn {
              cursor: pointer;
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            border-radius :0 0 8px 0px;
            
            .footerBottom {
                display: flex;
                padding: 5px 10px;
                background-color: #eee;
                justify-content: space-between;
            }


            .nextButton {
                text-align: center;
                width: 100%;
                margin-bottom: 20px;
            
                button:hover {
                    background-image: linear-gradient(to right,#89C5F5, #108cf1);
                }
            
                button {
                    background: linear-gradient(to right, #108cf1, #89C5F5);
                }
            }

            .logo {
                width: 60px;;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}