@import './../common.scss';

.textFieldWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    

    .withIcon {
        padding: $spacing-medium $spacing-large;
    }

    .inputGroup {
        display: flex;
    }

    .icon {
        position: absolute;
        bottom: $spacing-medium;
        min-width: 20px;
    }

    input {
        border-bottom: $border-small solid $silver;
        padding: $spacing-medium 0;
        width: 100%;
    }

    label {
        margin-bottom: $spacing-medium;
    }


}